html, body, header {
    overflow-x: hidden; 
}
/* ./partes/navbar.php */
.esPaddingTop {
    padding-top: 20px;
}

.bt_menu{
    padding: 10px;
    padding-bottom: 60px;
    background-color: #B20000;
    color: white;
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    height: 50px;
    display: none;
}

.bg-cor {
    background-color: rgb(248, 245, 245);
    width: 100%;
}

.bg-navcor{ /* Também aparece no calendario.php e galeria.php */
    background-color: #B20000;
    width: 100%;
}

.nav-link{ /* Também aparece no ./partes/footer.php */
    color: white !important;
}

.nav-link:hover{
    color: gold !important;
}

.navbar-brand{
    padding-top: 0;
}

/* index.php */

.lados{
    padding-left: 15%;
    padding-right: 15%;
}

.text-justify{
    text-align: justify;
}

/* ./partes/footer */

.bg-footer{
    background-color:rgb(180, 179, 179);
    width: 100%;
}

.bg-footer2{
    background-color: rgb(119, 119, 119);
    width: 100%;
}

.footer-b{
    padding-bottom: 0;
    color: white;
}

.noPadding{
    padding: 0 !important;
    margin: 0 !important;
}

/* calendario.php */

.fs-17{
   font-size: 17px; 
}

.invisivel{
    visibility: hidden;
}

/* galeria.php */

#calMobile{
    display: none;
}

p.texto{ /* Também aparece em ./partes/galeriaR.php */
    padding-right: 8rem !important;
    padding-left: 8rem !important;
}

/* Media Query 340px */
@media (max-width: 340px) {
    /* ./partes/navbar.php */
    #brand{
        display: none;
    }

    #siteCapa{
        display: none;
    }

    .bt_menu{
        display: block;
        width: 100%;
    }

    header .row{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .col-auto{
        display: block;
        justify-content: space-evenly;
    }

    header .nav{
        justify-content: center !important;
        margin-bottom: 1rem;
    }

    header .nav-item{
        border-bottom: 1px solid black;
        text-align: center;
        width: 100%;
    }

    /* index.php */

    #secIndex .row .col-auto{
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: unset;
    }

    #secIndex .card{
        width: 20rem !important;
    }

    #secIndex .card-text{
        font-size: 15px;
        font-family: 'Proxima Nova';
    }

    #secIndex .lados{
        padding-left: 5%;
        padding-right: 5%;
    }

    #secIndex .nav-link{
        font-size: 17px;
    }

    /* ./partes/footer.php */

    #footerMobile{
        display: none;
    }

    /* sobre.php */

    #secSobre .col{
        width: 100% !important;
    }

    /* calendario.php */
    .calBorda{
        border-top: 3px solid black;
    }

    #calMobile{
        display: block;
    }

    #calPC{
        display: none;
    }

    /* galeria.php */

    #secGal .texto{
        font-family: 'Proxima Nova';
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }

    #secGal #carouselExampleDark{
        width: unset !important;
    }
}



/* Media Query 700px */
@media (max-width: 700px) and (min-width: 340px) { 
    /* ./partes/navbar.php */
    #brand{
        display: none;
    }

    #siteCapa{
        display: none;
    }

    .bt_menu{
        display: block;
        width: 100%;
    }

    header .row{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .col-auto{
        display: block;
        justify-content: space-evenly;
    }

    header .nav{
        justify-content: center !important;
        margin-bottom: 1rem;
    }

    header .nav-item{
        border-bottom: 1px solid black;
        text-align: center;
        width: 100%;
    }

    /* index.php */

    #secIndex .card{
        width: 20rem !important;
    }

    #secIndex .card-text{
        font-size: 15px;
        font-family: 'Proxima Nova';
    }

    #secIndex .lados{
        padding-left: 5%;
        padding-right: 5%;
    }

    #secIndex .nav-link{
        font-size: 17px;
    }

    /* ./partes/footer.php */

    #footerMobile{
        display: none;
    }

    /* sobre.php */

    #secSobre .col{
        width: 100% !important;
    }  

    /* calendario.php */
    .calBorda{
        border-top: 3px solid black;
    }

    #calMobile{
        display: block;
    }

    #calPC{
        display: none;
    }

    /* galeria.php */

    #secGal .texto{
        font-family: 'Proxima Nova';
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }

    #secGal #carouselExampleDark{
        width: unset !important;
    }
}


/* Media Query 1100px */
@media (max-width: 1100px){ 
    
    /* index.php */

    #secIndex .card{
        width: 40rem !important;
    }

    #secIndex .card-text{
        font-size: 15px;
        font-family: 'Proxima Nova';
    }

    #secIndex .lados{
        padding-left: 5%;
        padding-right: 5%;
    }

    #secIndex .nav-link{
        font-size: 17px;
    }


    /* sobre.php */

    #secSobre .col{
        width: 50% !important;
    }  

}


